<div class="body">
  <ng-container *ngIf="user; else userLogin">
    <img
      *ngIf="user['photoUrl']"
      class="card-img-top img-responsive photo"
      src="{{ user['photoUrl'] }}"
    />
    <div>
      <h4 class="card-title">Welcome {{ user["name"] }}!</h4>
    </div>
    <div>
      <button class="button" (click)="signOut()">Sign out</button>

      <button
        *ngIf="user['provider'] === GoogleLoginProvider.PROVIDER_ID"
        class="button"
        (click)="refreshGoogleToken()"
      >
        Refresh google token
      </button>
      <button type="button" class="button" routerLink="/creation">
        Add a character
      </button>
    </div>
    <table mat-table [dataSource]="characterData.data">
      <ng-container
        [matColumnDef]="column"
        *ngFor="let column of displayedColumns"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element[column] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button (click)="editCharacter(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="removeCharacter(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedActionColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedActionColumns"
      ></tr>
    </table>
  </ng-container>
  <ng-template #userLogin>
    <p>
      Welcome to the Character builder! This app is designed to walk new D&D
      player through the processs of creating a character. Sign in with your
      Google account to create a new character and view your existing ones.
    </p>
    <div class="card text-center">
      <asl-google-signin-button type="standard"></asl-google-signin-button>
    </div>
  </ng-template>
</div>
